<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.model.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.model.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryItem</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.model.InventoryItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OracleConnection</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.dao.OracleConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDAO</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.dao.BookDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryDAO</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.dao.InventoryDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.common.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseBooksServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.customer.BrowseBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.customer.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.auth.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.auth.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.auth.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.customer.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProfileServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.seller.SellerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDAO</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.dao.UserDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.customer.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.customer.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookByISBNServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.seller.AddBookByISBNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInventoryServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.seller.UpdateInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOrdersServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.seller.SellerOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.admin.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSellerServlet</servlet-name>
        <servlet-class>com.amitendu.bookstoreapp.servlet.admin.ApproveSellerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryItem</servlet-name>
        <url-pattern>/InventoryItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OracleConnection</servlet-name>
        <url-pattern>/OracleConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDAO</servlet-name>
        <url-pattern>/BookDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryDAO</servlet-name>
        <url-pattern>/InventoryDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseBooksServlet</servlet-name>
        <url-pattern>/BrowseBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProfileServlet</servlet-name>
        <url-pattern>/SellerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDAO</servlet-name>
        <url-pattern>/UserDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookByISBNServlet</servlet-name>
        <url-pattern>/AddBookByISBNServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInventoryServlet</servlet-name>
        <url-pattern>/UpdateInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOrdersServlet</servlet-name>
        <url-pattern>/SellerOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSellerServlet</servlet-name>
        <url-pattern>/ApproveSellerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
